<h1>Dibby</h1>
<p>Musical Online Shop Home Page</p>


<p>Can't wait for the finished application :) - March 21, 2022</p>

<h1>Users</h1>

<ul>
  <% @users.each do | user |%>
    <li>
      <%= user.first_name %>,
      <%= user.last_name %>,
      <%= user.address %>,
      <%= user.email %>,
      <%= user.province_id %>
    </li>
  <% end %>
</ul>

<div>
    <h2>
      <%= link_to "Instrument Categories", types_path %>
    </h2>

  <div>
    <ul>
      <% @types.each do | type |%>
        <li>
          <div>
            <%= link_to type.name, type_path(type.id) %> - (<%= type.instrument.count %>)
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <div>
    <h2>
      <%= link_to "Instrument Lessons", lessons_path %>
    </h2>
  </div>

  <div>
    <ul>
      <% @lessons.each do | lesson |%>
        <li>
          <div>
            <%= link_to lesson.instrument.name, lesson_path(lesson.id) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <h2>
    <%= link_to "Top Instrument", instruments_path %>
  </h2>

  <div>
    <ul>
      <% @instruments.each do | instrument |%>
        <li>
          <div>
            <%= link_to instrument.name, instrument_path(instrument.id) %>
          </div>

          <div>
            <% if instrument.image.present? %>
              <%= image_tag instrument.image, alt: instrument.name %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<ul>
  <% @provinces.each do | province |%>
    <li>
      <%= province.name %>
    </li>
  <% end %>
</ul>

<ul>
  <% @taxes.each do | tax |%>
    <li>
      <%= tax.totaltax %>
    </li>
  <% end %>
</ul>

<ul>
  <% @pages.each do | page |%>
    <li>
      <%= page.title %>
    </li>
  <% end %>
</ul>