<% if user_signed_in? %>
  <div>
    <div>
      <h1>Welcome, <%= session[:user_name] %></h1>
    </div>

    <div>
      <div>
        <h2>Here at Dibby we are confident in our quality of service and products.</h2>
      </div>

      <div>
        <p>
          Scroll through our endless supply of new instruments ready to be shipped to you. With that you can purchase
          a lesson for that particular instrument. Have fun and enjoy shopping :) ~ DibbyNote Team
        </p>
      </div>
    </div>
  </div>
<% end %>

<div>
    <h2>
      <%= link_to "Instrument Categories", types_path %>
    </h2>

  <div>
    <ul>
      <% @types.each do | type |%>
        <li>
          <div>
            <%= link_to type.name, type_path(type.id) %> - (<%= type.instrument.count %>)
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <div>
    <h2>
      <%= link_to "Instrument Lessons", lessons_path %>
    </h2>
  </div>

  <div>
    <ul>
      <% @lessons.each do | lesson |%>
        <li>
          <div>
            <%= link_to lesson.instrument.name, lesson_path(lesson.id) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div>
  <h2>
    <%= link_to "Top Instrument", instruments_path %>
  </h2>

  <div>
    <ul>
      <% @instruments.each do | instrument |%>
        <li>
          <div>
            <%= link_to instrument.name, instrument_path(instrument.id) %>
          </div>

          <div>
            <% if instrument.image.present? %>
              <%= image_tag instrument.image, alt: instrument.name %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>