

<div>
  <div>
    <h1 class="title is-1">Shopping Cart</h1>
    <p>Here is your current shopping cart at DibbyNote</p>
  </div>

  <div class="columns mt-5">
    <div class="column is-three-fifths">
      <table>
        <thead>
          <tr>
            <th>Instrument Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each do | item | %>
            <tr>
              <td><%= link_to item.name, instrument_path(item.id) %></td>
              <td><sup>$</sup><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="column">
      <div>
        <div>
          <% @cart.each do | total | %>
            <% @total_price += total.price %>
          <% end %>

          <h4 class="title is-4">
            Subtotal (<%= @cart.size %>): <sup>$</sup><%= @total_price %>
          </h4>
        </div>

        <div>
          <%= link_to "Proceed to Checkout", {}, class: "button is-success" %>
          <%= link_to "Keep Searching", instruments_path, class: "button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>




