

<div>
  <div>
    <h1 class="title is-1">Shopping Cart</h1>
    <p>Here is your current shopping cart at DibbyNote</p>
  </div>

  <div class="columns mt-5">
    <div class="column is-three-fifths">
      <table class="table is-striped is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Instrument Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.each do | item | %>
            <tr>
              <td><%= link_to item.name, instrument_path(item.id) %></td>
              <td><sup>$</sup><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="column has-background-white	">
      <div>
        <div>
          <h3 class="title is-3">Order Summary</h3>
          <p>Shipping to: <%= current_user.address %></p>
          <p>Total before tax: (<%= @cart.size %>): <sup>$</sup><%= @total_price %></p>
          <hr>
          <% if @province.tax.gst.present? %>
            <p>GST: <%= calculate_gst %></p>
          <% end %>

          <% if @province.tax.hst.present? %>
            <p>HST: <%= calculate_hst %></p>
          <% end %>

          <% if @province.tax.pst.present? %>
            <p>PST: <%= calculate_pst %></p>
          <% end %>
          <h6 class="title is-6">Total Tax: <%= calculate_totaltax %></h6>
          <hr>
          <h4 class="title is-4">Order Total: <%= calculate_total %></h4>
        </div>

        <div class="mt-4">
          <%= link_to "Place your order", checkout_create_path, class: "button is-success" %>
          <%= link_to "Keep Searching", instruments_path, class: "button is-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>




