<h1><%= @lesson.instrument.name %> Lesson</h1>

<% if @lesson.instrument.image.present? %>
  <%= image_tag @lesson.instrument.image, alt: @lesson.instrument.name %>
<% end %>

<p>$<%= @lesson.price %></p>
<p><%= link_to @lesson.instrument.type.name, type_path(@lesson.instrument.type.id) %></p>

<%= link_to "Lessons", lessons_path %>
<%= link_to "Home", root_path %>