

<% if params[:type][:id] =~ /^[+-]?\d+$/ && (!params[:keywords].blank? && params[:keywords].present?) %>
  <h1>Search Results for '<%= params[:keywords] %>' type '<%= @instrument.name %>':</h1>
<% elsif !params[:keywords].blank? && params[:keywords].present? %>
  <h1>Search Results For Instrument - '<%= params[:keywords] %>':</h1>
<% elsif params[:type][:id] =~ /^[+-]?\d+$/ %>
  <h1>Search Results For Type - '<%= @instrument.name %>':</h1>
<% else %>
  <h1>All Instruments:</h1>
<% end %>

<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>

<%= paginate @instruments %>

<ul>
  <% @instruments.each do | instrument |%>
    <li>
      <p>
        <%= instrument.name %> - $ <%= instrument.price %>
      </p>
    </li>
  <% end %>
</ul>

<%= paginate @instruments %>


