<h1><%= @instrument.name %></h1>

<% if @instrument.image.present? %>
  <%= image_tag @instrument.image_detail_display, alt: @instrument.name %>
<% end %>

<p>
  <%= @instrument.price %>
</p>

<p>
  <%= link_to @instrument.type.name, type_path(@instrument.type_id) %>
</p>

<%= link_to "Home", root_path%>
<%= link_to "Instruments", instruments_path %>