<!DOCTYPE html>
<html>
  <head>
    <title>DibbyNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- BULMA CSS - https://bulma.io/documentation/overview/start/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> -->
    <%= javascript_importmap_tags %>

    <!-- Can't wait for the finished application :) - March 21, 2022 -->
  </head>

  <body>
    <%= render partial: "common/header" %>

    <div class="container px-6 pb-6 has-background-light is-widescreen is-fullhd">
      <%= render partial: "common/search" %>
      <p class="is-family-monospace"><%= render partial: "common/breadcrumb" %></p>
      <p class="message is-warning px-4"><%= notice %></p>
      <p class="message is-danger px-4"><%= alert %></p>
      <%= yield %>
    </div>

    <%= render partial: "common/footer" %>
  </body>
</html>
